section.advantages
  .cmn__wrapper.advantages__wrapper
    h2.cmn__title.cmn__title--small Как сделать заказ

    ul.advantages__list
      li.advantages__item
        img(src="./assets/img/about_1.png" alt="Как сделать заказ" width="100" height="100")

        b.cmn__text.cmn__text--bold Выберите товар из каталога
        p.cmn__text Воспользовавшись поиском или фильтрами и перейдите к его описанию
    
      li.advantages__item
        img(src="./assets/img/about_2.png" alt="Как сделать заказ" width="100" height="100")

        b.cmn__text.cmn__text--bold Поместите товар в корзину
        p.cmn__text Выбрав лучшую цену, которую сервис покажет автоматически, или самый удобный пункт выдачи

      li.advantages__item
        img(src="./assets/img/about_3.png" alt="Как сделать заказ" width="100" height="100")

        b.cmn__text.cmn__text--bold Оформите заказ
        p.cmn__text Для оформления заказа заполните короткую форму: имя, електронная почта, телефон 

      li.advantages__item
        img(src="./assets/img/about_4.png" alt="Как сделать заказ" width="100" height="100")

        b.cmn__text.cmn__text--bold Подтвердите заказ
        p.cmn__text Наш менеджер свяжется с Вами в будние дни с 10:00 до 20:00 по телефону, указанному в заявке.