section.intro
  .cmn__wrapper.intro__wrapper
    h2.cmn__title О сервисе

    p.cmn__text Moscowine.ru — это маркетплейс по предварительному резервированию алкогольной продукции. Здесь все устроено так, чтобы вы могли найти подходящий напиток по самой выгодной цене. Для этого мы собрали ассортимент крупных сетей, производителей алкоголя и небольших винотек на одной платформе. При этом, товарные позиции партнеры размещают напрямую, что позволяет Cheerz.ru отображать ассортимент без наценок с реальными скидками. Зачастую, цена на один и тот же товар может отличаться в разных бутиках, поэтому Cheerz.ru.ru проанализирует все предложения от партнеров и предложит вам лучшую цену.