section.rules
  .cmn__wrapper.rules__wrapper
    h2.cmn__title.cmn__title--small Получение и оплата заказа

    p.cmn__text Cheerz.ru соблюдает ФЗ РФ №171 и не осуществляет продажу алкоголя дистанционно. Получение и оплата зарезервированного заказа производится в пункте выдачи, который был выбран при оформлении на сайте.
    p.cmn__text Оплата заказа производится наличными или картой при получении заказа. Время и дата получения заказа согласовывается с менеджером.

    .rules__banner
      .rules__banner-content
        b.cmn__title.cmn__title--small Выбранный пункт выдачи не подходит?
        p.cmn__text Согласуйте с менеджером удобный способ получения заказа по телефону
      .rules__banner-phone
        a(href="tel:+74955870422").cmn__text +7 495 587-04-22

