.footer {
    background-color: $black-200;

    &__container {
        padding-top: 4rem;
        padding-bottom: 9.2rem;
    }

    &__top {
        margin-bottom: 4rem;

        .logo {
            svg {
                fill: #4B5158;
            }
        }

        @media(max-width: $mobile_medium) {
            margin-bottom: 2.4rem;
        }
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
    }

    &__nav-lists {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-grow: 1; 

        @media(max-width: $tablet_small) {
            order: 2;
        }
    }

    &__nav-item {
        margin-right: auto;
        padding-right: 4rem;

        margin-bottom: 4rem;

        @media(max-width: $tablet_small) {
            width: 50%;
            max-width: 50%;
            margin-bottom: 3.2rem;
        }

        @media(max-width: $mobile_medium) {
            padding-right: 1.5rem;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        max-width: 18.5rem;
        margin-bottom: 4rem;

        button {
            color: $grey-100;
            width: 100%;
        }
    }

    &__info {
        margin-bottom: 2rem;

        button {
            width: 100%;
        }
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    &__social {
        display: flex;
        margin-right: auto;
        flex-wrap: wrap;
        padding-right: 3rem;
        margin-bottom: 3.2rem;
    }

    &__apps {
        margin-bottom: 3.2rem;

        @media(max-width: $mobile_medium) {
            a img {
                width: 13.1rem;
                height: 4rem;
            }
        }
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        
        a {
            text-decoration: underline;
            margin-right: 2.5rem;
        }

        @media(max-width: $tablet_small) {
            flex-direction: column-reverse;
            
            a:first-of-type {
                order: 2;
            }

            a, span {
                margin-bottom: 1.6rem;
            }
        }
    }

    &__rights {
        color: $grey-200;
        opacity: 0.8;
        margin-right: 2.5rem;
    }
}