.header {
    &__top {
        display: flex;
        padding-top: 2.2rem;
    }

    &__logo {
        margin-right: 2.7rem;
    }

    &__info {
        margin-right: auto;
        a {
            font-size: 1.8rem;
            line-height: 2.3rem;

            color: $black-100;
        }

        span {
            font-size: 1.2rem;
            line-height: 1.8rem;

            color: $black-100;
            opacity: .5;
        }
    }

    &__btn {
        position: relative;
        justify-content: flex-start;
        min-width: 17.3rem;
        padding: 0.9rem 2.4rem;
        padding-left: 1.6rem;
        font-size: 16px;
        line-height: 22px;

        svg {
            margin-right: 1.2rem;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        padding: 2rem 0 2.4rem;
    }

    &__search {
        position: relative;
        flex-grow: 1;
        margin: 0 3.2rem;
        height: 4rem;

        label {
            position: absolute;
            top: 50%;
            left: 2rem;
            transform: translateY(-50%);

            width: 2.4rem;
            height: 2.4rem;

            svg {
                fill: none;
            }

            cursor: pointer;
            z-index: 3;
        }

        input {
            width: 100%;
            font-family: $f1_med;
            font-size: 1.5rem;
            line-height: 2.2rem;

            height: 100%;
            
            padding: .85rem 2rem .85rem 4.8rem;
            border: 1px solid #B7B3C2;
            border-radius: 4px;
            backdrop-filter: blur(20px);

            color: $black-100;
            background: rgba(255, 255, 255, 0.95);

            &::placeholder {
                font-family: $f1_med;
                font-size: 1.5rem;
                line-height: 2.2rem;

                color: $black-100;
                opacity: .3;
            }
        }
    }

    &__menu {
        display: flex;
        align-items:center;

        a {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 6.6rem;
            
            svg {
                fill: none;
            }

            .item-count-badge {
                position: absolute;
                top: -1rem;
                right: 1rem;
            }
        }

        a:not(:last-child) {
            margin-right: 2.4rem;
        }
    }

    @media(max-width: $desktop_small) {
        &__logo {
            margin-right: auto;
        }

        &__info {
            margin-right: initial;
            .worktime {
                align-items: flex-end;
            }
        }

        &__nav {
            display: none;
        }

        &__btn {
            display: none;
        }

        &__search {
            margin: 0;
            margin-right: 2rem;
        }
    }

    @media(max-width: $tablet_small) {
        &__menu {
            display: none;
        }

        &__search {
            margin: 0;
        }
    }

    @media(max-width: $mobile_medium) {
        &__info {
            a {
                font-size: 1.5rem;
                height: 1.9rem;
            }

            span {
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }
}