.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $white;
    border-bottom: 1px solid $grey-200;

    &__top {
        display: flex;
        padding: 2.2rem 0;

        &-content {
            display: flex;
            flex-grow: 1;

            @media(max-width: $tablet_large) {
                flex-direction: column;
            }
        }
    }

    &__logo {
        margin-right: 2.7rem;
        height: 4.4rem;

        svg {
            fill: $purple;
        }

        @media(max-width: $tablet_large) {
            margin-right: 1.5rem;
        }
    }

    &__info {
        margin-right: auto;

        @media(max-width: $tablet_large) {
            margin-right: 1.6rem;
            margin-left: auto;
            order: 2;

            .worktime {
                flex-direction: row;
                max-width: 100%;
                align-items: flex-end;

                a {
                    margin-right: 1.2rem;
                }
            }
        }

        a {
            font-size: 1.8rem;
            line-height: 2.3rem;

            color: $black-100;
        }

        span {
            font-size: 1.2rem;
            line-height: 1.8rem;

            color: $black-100;
            opacity: .5;
        }
    }

    &__btn {
        position: relative;
        justify-content: flex-start;
        padding: 0.9rem 2.4rem;
        padding-left: 1.6rem;
        font-size: 16px;
        line-height: 22px;

        svg {
            fill: $white;
            margin-right: 1.2rem;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        padding-bottom: 2.4rem;

        @media(max-width: $tablet_medium) {
            &.js-hidden {
                display: none;
            }
        }
    }

    &__search {
        position: relative;
        flex-grow: 1;
        margin: 0 3.2rem;
        height: 4rem;
        transition: all $main-transition;

        &.js-hidden {
            @media(min-width: $tablet_medium) {
                opacity: 0;
                z-index: -1;
            }
        }

        svg {
            opacity: .3;
        }

        label {
            position: absolute;
            top: 50%;
            left: 2rem;
            transform: translateY(-50%);

            width: 2.4rem;
            height: 2.4rem;

            cursor: pointer;
            z-index: 3;
        }

        input {
            width: 100%;
            font-family: $f1_med;
            font-size: 1.5rem;
            line-height: 2.2rem;

            height: 100%;
            
            padding: .85rem 2rem .85rem 4.8rem;
            border: 1px solid #B7B3C2;
            border-radius: 4px;
            backdrop-filter: blur(20px);

            color: $black-100;
            background: rgba(255, 255, 255, 0.95);

            &::placeholder {
                font-family: $f1_med;
                font-size: 1.5rem;
                line-height: 2.2rem;

                color: $black-100;
                opacity: .3;
            }
        }
    }

    &__menu {
        display: flex;
        align-items:center;

        a {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 6.6rem;

            svg {
                @include svg-fill(rgba(0,0,0,0.5), $purple);
            }

            &:hover,
            &:focus {
                
                svg {
                    @include link-svg-hover($purple);
                }

                .item-count-badge {
                    &.js-active ~ svg {
                        fill: $purple;
                    }
                }
            }

            .item-count-badge {
                position: absolute;
                top: -1rem;
                right: 1rem;

                &.js-active ~ svg {
                    fill: $black-100;
                }
            }
        }

        a:not(:last-child) {
            margin-right: 2.4rem;
        }
    }

    @media(max-width: $tablet_medium) {
        &__info {
            margin-right: 0;

            .worktime {
                flex-direction: column;
                align-items: flex-start;

                a {
                    margin-right: 0;
                }
            }
        }

        &__nav {
            display: none;
        }

        &__btn {
            display: none;
        }

        &__search {
            margin: 0;
            margin-right: 2rem;
        }

        &__menu {
            display: none;
        }

        &__search {
            margin: 0;
        }
    }

    @media(max-width: $mobile_medium) {
        &__info {
            a {
                font-size: 1.5rem;
                height: 1.9rem;
            }

            span {
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }
}