.header {
    .cmn__wrapper {
        min-width: 30rem;
    }

    &__top {
        padding: 0.8rem;
        background-color: $black-100;

        &-wrapper {
            display: flex;
            align-items: center;
        }

        a:not(:last-child) {
            margin-right: 3rem;
        }

        a:last-child {
            margin-left: auto;
        }

        @media(max-width: $tablet_small) {
            a:not(:first-child):not(:last-child) {
                display: none;
            }
        }
    }

    &__middle{
        padding: 2rem 0;
        border-bottom: 1px solid $grey-200;

        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .logo {
            margin-right: auto;
            padding-right: 2rem;

            svg {
                fill: $purple;

                @media(max-width: $mobile_medium) {
                    width: 13.2rem;
                    height: 3.2rem;
                }
            }

            @media(max-width: $mobile_medium) {
                padding-right: 1rem;
            }
        }
    }

    &__info {
        display: flex;
        align-items: center;
        margin-right: auto;

        a {
            display: flex;
            align-items: center;
            padding: 0 1rem;
            margin-right: 1rem;
            svg {
                margin-right: 1rem;
            }
        }

        @media(max-width: $desktop_small) {
            display: none;
        }
    }

    &__search {
        display: flex;
        flex-grow: 1;
        max-width: 58rem;
        min-width: 28rem;
        margin-right: auto;
        padding: 0 2rem;

        form {
            position: relative;
            background: $white;
            border: 1px solid $grey-200;
            border-radius: 5px;
            width: 100%;

            button {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 50px;
                border: 0;
                height: calc(100% + 2px);
                border-radius: 0 5px 5px 0;
                background-color: $purple;
                z-index: 10;

                svg {
                    fill: $white;
                }
            }
        }

        input[type="text"] {
            border: 0;
            outline: 0;
            padding: 1.2rem;
            padding-right: 6rem;
            width: 100%;
            font-size: 1.5rem;
            line-height: 2.2rem;
            color: $black-100;
            opacity: 0.5;
    
            &::placeholder {
                font-size: 1.5rem;
                line-height: 2.2rem;
                color: $black-100;
                opacity: 0.5;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &:placeholder-shown {
                text-overflow: ellipsis;
            }
              
        }

        @media(max-width: $tablet_medium) {
            width: 100%;
            max-width: 100%;
            order: 5;
            padding: 0;
            margin-top: 2rem;
        }
    }

    &__phone {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-left: 5.4rem;
        padding-right: 2rem;
        margin-right: auto;

        svg {
            position: absolute;

            top: 50%;
            left: 2rem;
            transform: translateY(-50%);
        }

        @media(max-width: $tablet_large) {
            display: none;
        }
    }

    &__action {
        display: flex;
        align-items: center;

        a {
            @extend .flex-centered-content;
            position: relative;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            background-color: $grey-100;

            &:not(:last-child) {
                margin-right: 2rem;
            }

            svg {
                fill: $purple;
                transition: fill $main-transition;
            }

            @media(max-width: $mobile_medium) {
                width: 4rem;
                height: 4rem;
                &:last-child {
                    display: none;
                }

                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }

            
            &:hover,
            &:focus {
               svg {
                   fill: $black-100;
               }
            }
        }

        .item-count-badge {
            position: absolute;
            top: -0.5rem;
            right: -0.8rem;
        }
    }
}