section.steps
  .cmn__wrapper.steps__wrapper
    ul.steps__list
      li.steps__item
        img(src="./assets/img/adv_1.png" alt="Преимущество" width="80" height="80")

        p.steps__title.cmn__text.cmn__text--bold Заполните форму
        p.steps__text.cmn__text.cmn__text--opacity Оставьте свои данные для размещения заказа
    
      li.steps__item
        img(src="./assets/img/adv_2.png" alt="Преимущество" width="80" height="80")

        p.steps__title.cmn__text.cmn__text--bold Подтвердите заказ
        p.steps__text.cmn__text.cmn__text--opacity Мы перезвоним в ближайшее время с 10:00 до 20:00 

      li.steps__item
        img(src="./assets/img/adv_3.png" alt="Преимущество" width="80" height="80")

        p.steps__title.cmn__text.cmn__text--bold Получите заказ
        p.steps__text.cmn__text.cmn__text--opacity В выбранных пунктах выдачи вашего города

      li.steps__item
        img(src="./assets/img/adv_4.png" alt="Преимущество" width="80" height="80")

        p.steps__title.cmn__text.cmn__text--bold Оплатите при получении
        p.steps__text.cmn__text.cmn__text--opacity Наличными или картой