section.advantages
  .cmn__wrapper
    h2.visually-hidden Наши преимущества
    ul.advantages__list
      li.advantages__item
        .advantages__item-title
          span.advantages__item-text.advantages__item-text--bold 10 000 
          span.advantages__item-text позиций

        .advantages__item-content
          span.cmn__text Мы постоянно выбраковываем то, что вам не стоит пробовать
    
      li.advantages__item
        .advantages__item-title
          span.advantages__item-text.advantages__item-text--bold 1000
          span.advantages__item-text магазинов
        .advantages__item-content
          span.cmn__text Просто найдите ближе

      li.advantages__item
        .advantages__item-title
          span.advantages__item-text.advantages__item-text--bold 100%
          span.advantages__item-text честная цена
        .advantages__item-content
          span.cmn__text И честные скидки