include ../../mixins/relative_slider_block

-
  const same = [
        {
            name: 'Clarendelle inspired by Haut-Brion Medoc Haut Brion Medoc, 2018 г.',
            desc: ['Красное', 'Полусладкое', '0.75'],
            img: './assets/img/product-card_1.png',
            countryBadge: './assets/img/flag-fr.png',
            country: 'Франция',
            oldPrice: '1 123 456',
            price: '229 846',
            discount: '-15%'
        },

        {
            name: 'Clarendelle inspired by Haut-Brion Medoc Haut Brion Medoc, 2018 г.',
            desc: ['Красное', 'Полусладкое', '0.75'],
            img: './assets/img/product-card_1.png',
            flagBadge: './assets/img/flag-fr.png',
            oldPrice: '1 123 456',
            price: '229 846',
            discount: '-15%'
        },

        {
            name: 'Clarendelle inspired by Haut-Brion Medoc Haut Brion Medoc, 2018 г.',
            desc: ['Красное', 'Полусладкое', '0.75'],
            img: './assets/img/product-card_1.png',
            flagBadge: './assets/img/flag-fr.png',
            oldPrice: '1 123 456',
            price: '229 846',
            discount: '-15%'
        },

        {
            name: 'Clarendelle inspired by Haut-Brion Medoc Haut Brion Medoc, 2018 г.',
            desc: ['Красное', 'Полусладкое', '0.75'],
            img: './assets/img/product-card_1.png',
            flagBadge: './assets/img/flag-fr.png',
            oldPrice: '1 123 456',
            price: '229 846',
            discount: '-15%'
        },
  ]

+relative_slider_block(same, 'Может понравиться', 'same-offer')