include ../../mixins/subscribe_fieldset

section.subscribe
  .cmn__wrapper
    .subscribe__container
      .subscribe__content
        h2.cmn__title.subscribe__title Подпишитесь на нашу рассылку
        p.cmn__text Получайте самые выгодные предложения одним из первых, участвуйте в&nbsp;закрытых распродажах и акциях для подписчиков MoscoWine.
      .subscribe__form
        form(action="#")
          +subscribe_fieldset('subscribe__mail', 'Подписаться', 'Электронная почта')
          
          fieldset.subscribe__accept
            input(type="checkbox" id="subscribe_accept")
            label(for="subscribe_accept").cmn__text.cmn__text--small
              | Даю согласие на обработку персональных данных в соответствии с <a href="#"> пользовательским соглашением</a>.