extends layouts/main-layout.pug

block variables
  -
    const title = "Moscowine_site-layout"
    const desc = ""
    const keywords = ""

block content
  .catalog
    include ./sections/catalog/catalog 
    include ./sections/catalog/description
    include ./sections/common/app
    include ./sections/common/subscribe
  
  include ./components/mobile-menu

block modals
  include ./modals/filterMenu
