extends layouts/main-layout.pug

block variables
  -
    const title = "Moscowine_site-layout"
    const desc = ""
    const keywords = ""

block content
  .catalog-item
    include ./sections/catalog-item/about
    include ./sections/catalog-item/info
    include ./sections/catalog-item/relative
    include ./sections/catalog-item/accessories
    include ./sections/common/app
    include ./sections/common/subscribe
  
  include ./components/mobile-bottom-nav
  include ./components/mobile-menu
  include ./components/catalog-menu

block modals
  include ./modals/addReviewModal
