extends layouts/main-layout.pug

block variables
  -
    const title = "Moscowine_site-layout"
    const desc = ""
    const keywords = ""

block content
  .index
    include ./sections/index/intro
    include ./sections/index/search
    include ./sections/index/features
    include ./sections/index/map
    include ./sections/index/app
    include ./sections/index/subscribe

block modals
  // include ./modals/menuModal
