extends layouts/main-layout.pug

block variables
  -
    const title = "Moscowine_site-layout"
    const desc = ""
    const keywords = ""

block content
  .index
    include ./sections/index/intro
    include ./sections/index/search
    include ./sections/index/features
    include ./sections/index/map
    include ./sections/common/app
    include ./sections/common/subscribe
  
  include ./components/mobile-menu

block modals
  // include ./modals/menuModal
