.subscribe {
    &__container {
        display: flex;
        padding: 4.7rem 0;

        @media(max-width: $tablet_medium) {
            flex-direction: column;
        }
    }

    &__content {
        width: calc(50% - 1rem);
        margin-right: auto;

        @media(max-width: $tablet_medium) {
            width: 100%;
            margin-bottom: 3rem;
        }
    }

    &__title {
        margin-bottom: 1.5rem;
    }

    &__form {
        width: calc(50% - 1rem);

        @media(max-width: $tablet_medium) {
            width: 100%;
        }

        form {
            display: flex;
            flex-direction: column;

            fieldset {
                padding: 0;
                border: none;
                margin: 0;
                margin-bottom: 2.1rem;
            }
        }
    }

    &__mail input {
        
    }

    &__accept {
        display: flex;

        label {
            position: relative;
            line-height: 1.8rem;
            padding-left: 3.5rem;
            cursor: pointer;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                width: 2rem;
                height: 2rem;

                border: 1px solid $grey-200;
                border-radius: 4px;
                background: transparent;
            }

            a {
                color: $purple;
            }
        }

        input:checked + label::before {
            border-color: red;
        }

        input {
            display: none;
        }
    }
}