.cmn {
   &__wrapper {
      @include container();
   }

   &__title {
      font-family: $f1_med;
      font-weight: 500;
      font-size: 3.6rem;
      line-height: 4.3rem;

      @media(max-width: $tablet_large) {
         font-size: 2.7rem;
         line-height: 3.2rem;
      }

      @media(max-width: $mobile_medium) {
         font-size: 2rem;
         line-height: 2.4rem;
      }
      
      color: $black-100;

      &--main {
            font-family: $f1_bold;
            font-weight: 700;
            font-size: 5.6rem;
            line-height: 6.7rem;

            @media(max-width: $desktop_small) {
               font-size: 4.4rem;
               line-height: 4.7rem;
            }
            
            @media(max-width: $tablet_small) {
               font-size: 3.2rem;
               line-height: 3.8rem;
            }
      }

      &--small {
         font-size: 2.4rem;
         line-height: 3.1rem;

         @media(max-width: $tablet_small) {
            font-size: 2rem;
            line-height: 2.4rem;
         }
      }

      &--med {
         font-size: 3.6rem;
         line-height: 4.3rem;
      }

      &--white {
         color: $white;
      }

      &--large {
         font-size: 4.8rem;
         line-height: 5.8rem;

         @media(max-width: $tablet_small) {
            font-size: 3.2rem;
            line-height: 4.6rem;
         }

         @media(max-width: $mobile_medium) {
            font-size: 2.4rem;
            line-height: 2.9rem;
         }
      }

      &--bold {
         font-family: $f1_bold;
         font-weight: 700;
      }
   }

   &__text {
      font-family: $f1_med;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.2rem;

      @media(max-width: $mobile_medium) {
         font-size: 1.2rem;
         line-height: 1.8rem;
      }

      color: $black-100;
      
      &--small {
         font-size: 1.2rem;
         line-height: 1.4rem;

         &-semi {
            font-family: $f1_semi;
            font-weight: 600;
         }

         @media(max-width: $mobile_medium) {
            font-size: 1rem;
            line-height: 1.5rem;
         }
      }

      &--med {
         font-size: 1.8rem;
         line-height: 2.3rem;

         @media(max-width: $tablet_small) {
            font-size: 1.5rem;
            line-height: 1.9rem;
         }
      }

      &--bold {
         font-family: $f1_bold;
         font-weight: 700;
      }

      &--large {
         font-size: 3.2rem;
         line-height: 3.8rem;

         @media(max-width: $desktop_small) {
            font-size: 2.8rem;
            line-height: 3.6rem;
         }

         @media(max-width: $tablet_small) {
            font-size: 2rem;
            line-height: 2.4rem;
         }
      }

      &--lth {
         text-decoration: line-through;
      }

      &--white {
         color: $white;
      }

      &--purple {
         color: $purple;
      }

      &--warning {
         color: $red-600;
      }

      &-semi {
         font-family: $f1_semi;
         font-weight: 600;
      }

      &--opacity {
         opacity: 0.5;
      }

      
      &--green {
         font-family: $f1_reg;
         color: $green-700;
      }

      &--red {
         font-family: $f1_reg;
         color: $red-700;
      }

      &--blue {
         font-family: $f1_reg;
         color: $blue-500;
      }

      &--yellow {
         font-family: $f1_reg;
         color: $yellow-700;
      }
   }

   &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $f1_semi;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2rem;
      width: fit-content;
      padding: 1.4rem 2.4rem;

      @media(max-width: $mobile_medium) {
         font-size: 1.2rem;
         line-height: 1.6rem;
      }
      
      border: 0;
      border-radius: 4px;
      background-color: $purple;
      color: $white;

      &--outlined {
         background-color: transparent;
         border: 1px solid rgba(255, 255, 255, 0.75);
      }
   }

   &__label {
      display: inline-block;
      padding: 1.4rem 1.6rem;
      border: 2px solid $grey-200;
      border-radius: 4px;
      margin-right: 0.8rem;
      font-family: $f1_med;
      font-size: 1.5rem;
      line-height: 2rem;
      cursor: pointer;

      color: $black-100;

      @media(max-width: $desktop_small) {
         padding: 1rem;
      }
   }

   &__select {
      position: relative;

      select {
         font-family: $f1_med;
         font-size: 1.5rem;
         line-height: 2rem;

         padding: 0.8rem 1.2rem;
         padding-right: 4rem;
         border: 1px solid $grey-200;
         border-radius: 4px;
         cursor: pointer;

         color: $black-100;
         background-color: transparent;
      }

      &::before {
         position: absolute;
         top: 0.8rem;
         right: 0.8rem;

         content: '';
         width: 2.4rem;
         height: 2.4rem;

         background-image: url("../assets/img/dropdown-arr.png");
         background-repeat: no-repeat;
      }
   }

   select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
    }

   input[type="radio"]:checked + .cmn__label {
         border: 2px solid $purple;
   }

   &__input {
      width: 100%;
      font-family: $f1_med;
      font-size: 1.5rem;
      line-height: 2.2rem;
      
      background-color: $grey-100;
      backdrop-filter: blur(20px);
      border: 1px solid #B7B3C2;
      border-radius: 4px;

      padding: 1.2rem 1.6rem;
            
      color: $black-100;
      opacity: 0.5;
   }
}
