@mixin container() {
    max-width: 1240px;
    min-width: $min_width;
    padding: 0 3rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    @media(max-width: $mobile_medium) {
        padding: 0 1rem;
    }

    /*@media(max-width: $lg_w) {
        padding: 0 6rem;
    }

    @media(max-width: $md_w) {
        padding: 0 3rem;
    }

    @media(max-width: $sm_w) {
        padding: 0 1rem;
    } */
}
