//fonts

$f1_reg: 'Manrope-Regular';
$f1_med: 'Manrope-Medium';
$f1_semi: 'Manrope-SemiBold';
$f1_bold: 'Manrope-Bold';

// widths

$w_xxl: 1920px;
$w_xl: 1440px;
$w_lg: 1140px;
$w_md: 960px;
$w_sm: 768px;
$w_xs: 534px;
$w_xxs: 320px;

$min_width: $w_xxs;
$max-width: $w_xxl;

// breakpoints

$desktop_large   :  $w_xxl;
$desktop_small   :  $w_xl;
$tablet_large    :  $w_lg;
$tablet_medium   :  $w_md;
$tablet_small    :  $w_sm;
$mobile_medium   :  $w_xs;

// colors

$white:    #ffffff;

$grey-100: #f8f8f9;
$grey-200: #e8e6ed;
$purple:   #af38d9;
$green-500:#56d873;

$red-500:  #e86060;

$black-100: #2c2b3c;
$black-200: #1E262E;
$black:     #000000;

$main-bg: $white;

// transitions

$main-transition: 0.4s 0.1s ease;

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
