section.offer-confirm
  .cmn__wrapper.offer-confirm__wrapper
    h2.cmn__title.cmn__title--main Ваш заказ отправлен

    p.cmn__text--opacity.cmn__text Наши менеджеры свяжутся с Вами в ближайшее время для согласования времени и места получения заказа. Оперативно отслеживать состояяние заказа Вы можете в Личном кабинете или через Telegram.

    .offer-confirm__btns
      a(type="button").cmn__btn.cmn__btn--outlined Открыть Телеграм
      button(type="button").cmn__btn Продолжить покупки