.description {
    &__container {
        padding-top: 3.2rem;

        p {
            margin-bottom: 1.6rem;
            opacity: .8;
        }

        h3 {
            font-size: 1.8rem;
            line-height: 2.5rem;
            margin-bottom: 2rem;
        }
    }
}