.item-count-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    padding: 0.3rem;
    
    background: $red-500;
    border: 2px solid $white;

    opacity: 0;
    transition: opacity $main-transition;

    &.js-active {
        opacity: 1;    
    }    
}