.main-slider {
    min-height: inherit;

    &__container {
        width: 100%;
        max-width: 98rem;

        margin: auto;
        padding: 2rem 10rem;

        @media(max-width: $tablet_small) {
            padding: 3rem;
            padding-bottom: 4rem;
        }
    }

    &-button-next::after,
    &-button-prev::after {
        display: none;
    }

    &-button-next,
    &-button-prev {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 4.8rem;
        height: 4.8rem;

        cursor: pointer;
        
        svg {
            @include svg-fill($white, $purple);
        }
    }

    &-button-next {
        right: 3.2rem;
    }

    &-button-prev {
        left: 3.2rem;
        transform: rotate(180deg);
    }

    @media(max-width: $tablet_small) {
        &-button-prev,
        &-button-next {
            display: none;
        }
    }

    &-pagination {
        position: relative;
        margin-top: -6.4rem;

        @media(max-width: $tablet_small) {
            margin-top: -3.2rem;
        }

        @media(max-width: $mobile_medium) {
            margin-top: -1.6rem;
        }

        .swiper-pagination-bullet {
            width: 1.2rem;
            height: 1.2rem;

            @media(max-width: $mobile_medium) {
                width: .8rem;
                height: .8rem;
            }

            border-radius: 1rem;
            background: $white;
            opacity: .4;

            &-active {
                opacity: 1;
            }
        }
    }

    .swiper-wrapper,
    .swiper-slide{
        min-height: inherit;
    }

    .swiper-slide {
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        h2 {
            max-width: 62.5rem;
            margin-bottom: 2.4rem;
        }

        a {
            min-width: 17.8rem;
            color: $purple;
            background-color: $white;

            @media(max-width: $mobile_medium) {
                min-width: initial;
            }
        }
    }
}