.main-tab {
    width: fit-content;
    padding-right: 3.2rem;

    button {
        font-size: 1.8rem;
        line-height: 2.5rem;
        padding: 1.4rem 0;
        color: $black-100;
        border-color: transparent;
        border-radius: 0;
        white-space: nowrap;
        border-bottom: 2px solid transparent;

        transition: border $main-transition;
        
        &.active {
            font-weight: 700;

            border-bottom: 2px solid $purple;
        }

        @media(max-width: $tablet_medium) {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
}