.rate {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__list {
        display: flex;
        align-items: center;
        margin-right: 0.8rem;

        @media(max-width: $tablet_large) {
            width: 100%;
        }

        @media(max-width: $tablet_small) {
            width: auto;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.4rem;
        height: 2.4rem;

        @media(max-width: $tablet_small) {
            width: 1.6rem;
            height: 1.6rem;

            svg {
                width: 1.3rem;
                height: 1.3rem;
            }
        }

        svg {
            fill: $grey-200;
        }

        &--active {
            svg {
                fill: $purple;
            }
        }
    }

    &__date {
        margin-right: 2.2rem;
    }

    &__value {
        margin-top: 3px;
        margin-right: 0.8rem;

        @media(max-width: $tablet_small) {
            display: none;
        }
    }

    &__reviews {
        margin-top: 3px;
        margin-right: 3rem;
    }

    &__action {
        height: 2.4rem;

        svg {
            @include svg-fill(rgba(0,0,0,0.5), $purple);

            margin-right: 1.6rem;

            @media(max-width: $tablet_small) {
                margin-right: 0.8rem;
            }
        }
    }
}