.thumbs-slider {
    position: relative;
}

.thumbs-slider-preview {
    position: absolute;
    top: 1.6rem;
    left: 1.5rem;
    
    .swiper-slide {
        width: 56px;
        height: 56px;
        border-radius: 4px;
        border: 2px solid transparent;

        @media(max-width: $tablet_small) {
            width: 32px;
            height: 32px;
        }

        &-thumb-active {
            border: 2px solid $purple;
        }
    }
}