.tooltip {
    position: relative;
    margin-right: 1.8rem;

    filter: drop-shadow(0px 29px 69px rgba(12, 43, 122, 0.05)) drop-shadow(0px 18.7963px 40.4097px rgba(12, 43, 122, 0.037963)) drop-shadow(0px 11.1704px 21.9778px rgba(12, 43, 122, 0.0303704)) drop-shadow(0px 5.8px 11.2125px rgba(12, 43, 122, 0.025)) drop-shadow(0px 2.36296px 5.62222px rgba(12, 43, 122, 0.0196296)) drop-shadow(0px 0.537037px 2.71528px rgba(12, 43, 122, 0.012037));

    svg {
        cursor: help;
    }

    &__body {
        position: absolute;
        bottom: 38px;
        left: 50%;
        transform: translateX(-50%);

        @media(max-width: $tablet_small) {
            left: calc(100% + 3rem);
            transform: translateX(-100%);
        }   

        width: 100vw;
        max-width: 28rem;
        padding: 1.6rem;

        background: $black-100;
        border-radius: 4px;

        span {
            line-height: 2rem;
        }

        opacity: 0;
        z-index: -1;

        transition: opacity $main_transition;
    }

    &__tail {
        position: absolute;

        left: 50%;
        bottom: -8px;

        @media(max-width: $tablet_small) {
            left: calc(100% - 4rem);
        }

        width: 2.2rem;
        height: 2.2rem;

        transform: translateX(-50%) rotate(45deg);

        background-color: $black-100;
    }

    svg:hover + .tooltip__body,
    svg:focus + .tooltip__body {
        opacity: 1;
        z-index: 1;
    }
}