.ref
  .ref__about
    h2.cmn__title.cmn__title--small О программе

    p.cmn__text.cmn__text--opacity Moscowine.ru соблюдает ФЗ РФ №171 и не осуществляет продажу алкоголя дистанционно. Получение и оплата зарезервированного заказа производится в пункте выдачи, который был выбран при оформлении на сайте. Оплата заказа производится наличными или картой при получении заказа. Время и дата получения заказа согласовывается с менеджером.

  .ref__link
    span.cmn__text.cmn__text--small.cmn__text--bold Реферальная ссылка
    a(href="https://www.moscowine.ru.ru/?bonus=152032984136098") https://www.moscowine.ru.ru/?bonus=152032984136098
    button(type="button").cmn__btn.js-clipboard-btn Копировать

  .ref__detail
    h2.cmn__title.cmn__title--small Детализация

    ul.ref__detail-list
      li.ref__detail-item
        span.cmn__text.cmn__text--green ПОПОЛНЕНИЕ
        span.cmn__text 07.05.2020
        span.cmn__text 13:45
        span.cmn__text 35 Бонусов
      li.ref__detail-item
        span.cmn__text.cmn__text--red СГОРАНИЕ
        span.cmn__text 07.05.2020
        span.cmn__text 13:45
        span.cmn__text 35 Бонусов
      li.ref__detail-item
        span.cmn__text.cmn__text--blue СПИСАНИЕ
        span.cmn__text 07.05.2020
        span.cmn__text 13:45
        span.cmn__text 3500000 Бонусов