section.user 
  .cmn__wrapper
    .user__header
      h2.cmn__title.cmn__title--small Личный кабинет
    
    .user__container
      img(src="./assets/img/user_avatar.png" alt="Аватар" width="65" height="65")

      .user__info
        span.cmn__text.cmn__text--bold Константинов Константин
        a(href="mailto:konstantinov1934@yandex.ru").cmn__text.cmn__text--opacity  konstantinov1934@yandex.ru
        a(href="tel:+79909009090").cmn__text.cmn__text--opacity +7 990 900 90 90

      span.cmn__text.user__balance 135000 бонусов

      .user__action
        a(href="user-data.html").cmn__btn.cmn__btn--outlined Редактировать
        button(type="button").cmn__btn.cmn__btn--outlined Выйти 