section.user
  .cmn__wrapper
    .user__header
      h2.cmn__title.cmn__title--small Мои данные
    
    .user__container
      .user__sidebar
        img(src="./assets/img/user_avatar.png" alt="Аватар пользователя" width="168" height="168")
        button(type="button").cmn__btn.cmn__btn--outlined Изменить
      .user__form
        form(action="#") 
          fieldset
            label(for="user_name").cmn__text.cmn__text--small.cmn__text--bold Имя
            input(type="text" id="user_name" placeholder="Имя")
          fieldset
            label(for="user_surname").cmn__text.cmn__text--small.cmn__text--bold Фамилия
            input(type="text" id="user_surname" placeholder="Фамилия")
          fieldset
            label(for="user_mail").cmn__text.cmn__text--small.cmn__text--bold Электронная почта
            input(type="text" id="user_mail" placeholder="Электронная почта")
          fieldset
            label(for="user_phone").cmn__text.cmn__text--small.cmn__text--bold Телефон
            input(type="text" id="user_phone" placeholder="Телефон")
          fieldset
            label(for="user_city").cmn__text.cmn__text--small.cmn__text--bold Город
            input(type="text" id="user_city" placeholder="Город")
          fieldset.user__birth
            span.cmn__text.cmn__text--small.cmn__text--bold Дата рождения

            .user__birth-controls
              select(id="user_bday").custom-select-birth

              select(id="user_bmonth").custom-select-birth
                option(value="Январь" selected) Январь
                option(value="Февраль") Февраль
                option(value="Март") Март
                option(value="Апрель") Апрель
                option(value="Май") Май
                option(value="Июнь") Июнь
                option(value="Июль") Июль
                option(value="Август") Август
                option(value="Сентябрь") Сентябрь
                option(value="Октябрь") Октябрь
                option(value="Ноябрь") Ноябрь
                option(value="Декабрь") Декабрь
              
              select(id="user_byear").custom-select-birth
          
          fieldset.user__confirm.js-invalid.active
            .user__confirm-container
              span.cmn__text Для подтверждения изменений введите пароль от учетной записи
            label(for="user_password").cmn__text.cmn__text--small.cmn__text--bold Пароль
            input(type="password" id="user_password" placeholder="Пароль")  
            span.user__confirm-msg Неверный пароль

          .user__form-btns
            button(type="button").cmn__btn.cmn__btn--outlined Изменить пароль
            button(type="button").cmn__btn Сохранить изменения
          
          .user__confirm-change-msg.active
            span.cmn__text.cmn__text--opacity Cсылка для смены пароля была отправлена на Ваш электронный адрес yu...ev@yandex,eu. Пожалуйста, проверьте свой почтовый ящик. 
          
          