-
  const places = [
    {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: true,
      purchaseFrom: '12 000',
    },

    {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: false,
      purchaseFrom: '12 000',
    },

    {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: false,
    },

        {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: true,
      purchaseFrom: '12 000',
    },

    {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: false,
      purchaseFrom: '12 000',
    },

    {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: false,
    },

        {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: true,
      purchaseFrom: '12 000',
    },

    {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: false,
      purchaseFrom: '12 000',
    },

    {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: false,
    },

        {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: true,
      purchaseFrom: '12 000',
    },

    {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: false,
      purchaseFrom: '12 000',
    },

    {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: false,
    },

        {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: true,
      purchaseFrom: '12 000',
    },

    {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: false,
      purchaseFrom: '12 000',
    },

    {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: false,
    },

        {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: true,
      purchaseFrom: '12 000',
    },

    {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: false,
      purchaseFrom: '12 000',
    },

    {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: false,
    },

        {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: true,
      purchaseFrom: '12 000',
    },

    {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: false,
      purchaseFrom: '12 000',
    },

    {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: false,
    },

        {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: true,
      purchaseFrom: '12 000',
    },

    {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: false,
      purchaseFrom: '12 000',
    },

    {
      shopName: 'Альто-Адидже',
      metro: 'Павелецкая',
      openTo: '22:00',
      closeTo: '10:00',
      isOpen: false,
    },
  ]

section.shop-map
  .cmn__wrapper.shop-map__wrapper
    .shop-map__header
      b.cmn__text.cmn__text--small Бутики
      h2.cmn__title.cmn__title--small Пункты выдачи на карте <span class="cmn__text cmn__text--opacity">45 пунктов</span>

      .shop-map__tabs
        .shop-map__tab.main-tab
          button(type="button" data-tab-opener="list").cmn__btn.cmn__btn--outlined.active Список
        .shop-map__tab.main-tab
          button(type="button" data-tab-opener="map").cmn__btn.cmn__btn--outlined Карта
  .shop-map__content
    .shop-map__content-map.shop-map__tab-content(data-tab="map")
      #yandex-map
      
    .shop-map__content-list.shop-map__tab-content(data-tab="list").active
      .shop-map__list-container
        ul.shop-map__list
          each place in places
            li.shop-map__item
              a(href="#")
                span.cmn__text.cmn__text--small.cmn__txt--bold= place.shopName
                span.cmn__text.cmn__text--small.cmn__text--opacity= place.metro
                span.cmn__text.cmn__text--small(class=!place.isOpen ? 'cmn__text--warning' : 'cmn__text--opacity')= place.isOpen ? 'Открыто до ' + place.openTo : 'Закрыто до ' + place.closeTo
                if place.purchaseFrom
                  i.cmn__text.cmn__text--small.cmn__text--opacity= 'Покупка от ' + place.purchaseFrom + '₽'
                
                svg(width="8" height="14")
                  use(xlink:href="#icon-arr")
