.catalog {
    .catalog {
        padding-top: 2.4rem;
        @include bm-md();

        &__header {
            margin-bottom: 2.4rem;

            b {
                display: inline-block;
                margin-bottom: 0.8rem;
                color: $purple;
            }

            span {
                padding-left: 1.6rem;  
            }
        }

        &__body {

            &-more {
                display: flex;
                flex-direction: column;
                align-items: center;

                button {
                    width: 100%;
                    max-width: 38rem;
                    border-color: $purple;
                    color: $purple;
                    margin-bottom: 1.6rem;
                }
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 4.8rem;
        }

        &__item {
            margin-right: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }
}