.catalog {
    .description {
        &__section {
            margin-bottom: 3.2rem;

            h2 {
                font-family: $f1_bold;
                margin-bottom: 1.6rem;
            }

            p {
                margin-bottom: 1.6rem;
                opacity: 0.8;
            }
            
            @media(max-width: $tablet_small) {
                margin-bottom: 0.8rem;
            }
        }
    }
}