.app {
    //background-color: $grey-100;
    /*background-image: url("../assets/img/app-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media(max-width: $mobile_medium) {
        min-height: 48.8rem;
        background-image: url("../assets/img/app-bg-mobile.jpg");

        &__wrapper {
            display: flex;
            min-height: inherit;
            flex-direction: column;
        }
    }*/
    overflow: hidden;
    padding: 3rem 0;
    background-color: $grey-100;

    @media(max-width: $mobile_medium) {
        padding: 1.5rem 0;
    }

    &__wrapper {
        padding-right: 0;

        @media(max-width: $tablet_small) {
            padding-right: initial;
            padding: 0 3rem;
        }

        @media(max-width: $mobile_medium) {
            padding: 0 1rem;
        }
    }
    

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        padding: 4.4rem 0;

        @media(max-width: $tablet_small) {
            flex-direction: column;
            padding: 0;
        }

        @media(max-width: $mobile_medium) {
            margin-top: auto;
        }

        
        .app-background {
            position: absolute;
            top: -30px;
            left: 50%;
            order: 2;
            max-width: 565px;
            max-height: 487px;
            object-fit: contain;

            @media(max-width: $tablet_small) {
                position: relative;
                top: 0;
                left: 0;
                order: 1;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__content {
        order: 1;
        width: 50%;
        margin-bottom: 2rem;

        @media(max-width: $tablet_small) {
            margin-top: -75px;
            width: 100%;
            text-align: center;
            .app__title {
                margin: 0 auto;
                margin-bottom: 2.4rem;
            }
        }
    }


    .apps {
        width: 100%;
        order: 3;
        @media(max-width: $tablet_small) {
            justify-content: center;
        }
    }

    &__title {
        max-width: 58rem;
        margin-bottom: 2.4rem;
    }
}