.index {
    .app {
        background-color: $grey-100;
        background-image: url("../assets/img/app-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &__container {
            padding: 6.4rem 0;
        }

        &__title {
            max-width: 58rem;
            margin-bottom: 2.4rem;
        }
    }
}