.index {
    .article {
        margin-bottom: 15rem;

        @media (max-width: $desktop_small) {
            margin-bottom: 12rem;
        }

        @media (max-width: $tablet_medium) {
            margin-bottom: 10rem;
        }

        @media (max-width: $tablet_small) {
            margin-bottom: 8rem;
        }

        &__container {
            display: flex;

            @media (max-width: $tablet_medium) {
                flex-direction: column;
            }
        }

        &__wrapper {
            width: 100%;
            max-width: 192rem;
            padding-left: 12rem;
            margin: 0 auto;

            @media (max-width: $desktop_small) {
                padding-left: 3rem;
            }

            @media (max-width: $tablet_medium) {
                padding-left: 0;
            }
        }

        &__side {
            width: 50%;
            max-width: 39rem;
            margin-right: 2rem;
            padding-right: 2rem;

            @media (max-width: $tablet_medium) {
                width: 100%;
                max-width: 100%;

                @include container();
                order: 2;
            }

            h2 {
                @extend .purple-title;
            }

            h3 {
                @extend .subtitle;
            }

            p {
                font-size: 1.5rem;
                line-height: 1.2;
                font-weight: 300;
                color: $black-100;
                opacity: 0.8;
                margin-bottom: 1.5rem;
            }

            a {
                font-weight: 300;
                font-size: 24px;
                
                color: $black-100;
            }
        }

        &__content {
            width: 100%;

            img {
                display: block;
                width: 100%;
                height: auto;
                max-height: 85rem;
                min-height: 25rem;
                object-fit: cover;
            }

            @media (max-width: $tablet_medium) {
                width: 100%;
                max-width: 100%;
                order: 1;
                margin-bottom: 3rem;
            }

            @media (max-width: $tablet_small) {
                margin-bottom: 2rem;
            }
        }
    }
}