.index {
    .search {
        padding-bottom: 6.4rem;

        &__wrapper {
            position: relative;
            max-width: 98rem;
            margin: 0 auto;
            margin-top: -3rem;
            padding: 3.2rem;
            padding-bottom: 2.4rem;
            border-radius: 4px;
            background: $white;
            box-shadow: 0px 10px 20px rgba(42, 52, 79, 0.1);
            z-index: 10;

            @media(max-width: $tablet_small) {
                max-width: 100%;
                margin-top: 0;
                padding: 0;
                padding-top: 2.4rem;
                box-shadow: none;
            }
        }

        form {
            a {
                color: $purple;
            }
        }

        &__filter {
            display: none;

            &::-webkit-scrollbar {
                width: 0 !important;
                height: 0 !important;
            }
            
            &::-webkit-scrollbar-thumb {
                width: 0 !important;
                height: 0 !important;
                background-color: $purple;
            }

            // разворачивание поиска по клику на инпуте
            &.js-mounted {
                display: block;
                animation: fadeIn 0.5s linear;
            }
            //--

           &-result {
               display: none;
               position: relative;
               padding: 3.2rem 0;

               &.active {
                   display: block;
               }
           }
        }

        &__field {
            margin-bottom: 3.2rem;

            &-title {
                display: inline-block;
                margin-bottom: 0.8rem;
            }

            &-content {
                display: flex;
                align-items: center;
                white-space: nowrap;

                &--filter {
                    align-items: flex-start;

                    @media(max-width: $tablet_small) {
                        //flex-direction: column;
                        flex-wrap: wrap;

                        .search-dropdown {
                            margin-bottom: 1rem;
                            margin-right: 1.2rem;
                            width: fit-content;
                        }
                    }
                }

                a {
                    margin-right: 0.8rem;
                }
            }
        }

        &__control {
            margin-bottom: 2.4rem;

            input {
                padding-right: 20rem;

                @media(max-width: $tablet_small) {
                    padding-right: 7rem;
                }
            }

            svg {
                opacity: .5;
            }
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .search-result {
        display: flex;
        align-items: center;
        min-height: 8.6rem;

        &__container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &__list {
            display: flex;
        }

        &__empty {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                opacity: 0.3;
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;


            &-side {
                width: calc(50% - 1.5rem);

                &:not(:first-child) {
                    margin-right: auto;
                }

                p span {
                    color: $purple;
                }
            }

            &-more {
                display: flex;
                width: 100%;
                //justify-content: flex-end;

                button {
                    margin-right: 1.2rem;
                }

                a {
                    color: $purple;
                }
            }

            
        }
    }
}