.index {
    .search {
        //display: none; //temp
        padding-bottom: 6.4rem;

        &__container {
            position: relative;
            max-width: 98rem;
            margin: 0 auto;
            margin-top: -3rem;
            padding: 3.2rem;
            padding-bottom: 2.4rem;
            border-radius: 4px;
            background: $white;
            box-shadow: 0px 10px 20px rgba(42, 52, 79, 0.1);
            z-index: 10;

            @media(max-width: $tablet_small) {
                max-width: 100%;
                margin-top: 0;
                padding: 0;
                padding-top: 2.4rem;
                box-shadow: none;
            }
        }

        form {
            a {
                color: $purple;
            }
        }

        &__field {
            margin-bottom: 2.4rem;

            input {
                padding-right: 20rem;

                @media(max-width: $tablet_small) {
                    padding-right: 7rem;
                }
            }

            svg {
                opacity: .5;
            }
        }

        &__advanced {
            //display: none;
            opacity: 0;

            &.active {
                //display: block;
                animation: fadeIn 1s linear forwards;
            }

            &-field {
                margin-bottom: 3.2rem;

                &-title {
                    display: inline-block;
                    margin-bottom: 0.8rem;
                }

                &-content {
                    display: flex;
                    align-items: center;

                    &--filter {
                        align-items: flex-start;
                    }

                    a {
                        margin-right: 0.8rem;
                    }
                }
            }

            &-result {
                position: relative;
                //padding: 3.2rem 0;
                margin-bottom: 3.2rem;


                &-container {
                    /*span {
                        opacity: 0.3;
                        display: block;
                        text-align: center;
                    }*/
                    max-height: 31.2rem;
                    overflow: hidden;
                    padding-right: 2rem;
                }

                button {
                    margin-left: auto;
                }

                &-content {
                    display: flex;

                    &-text {
                        width: 50%;
                        max-width: 45.8rem;
                        padding-right: 2rem;
                        margin-right: auto;
                    }

                    &-card {
                        width: 50%;
                        max-width: 44.8rem;
                    }
                }
            }
        }

        &__field input:focus + .search__advanced {
            background-color: red;
                opacity: 1;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}