.cart-content {
    padding-top: 1.5rem;
    @include bm-md();

    &__body {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 3.2rem;

        h2 {
            padding-right: 2rem;
        }

        a {
            margin-left: auto;
            padding: 1rem 2.4rem;
            border-color: $purple;
            color: $purple;
        }
    }

    &__list {
        position: sticky;
        top: 180px;
        display: flex;
        flex-direction: column;
        width: calc(100% - 40rem);
        height: fit-content;
        margin-right: 2rem;

        @media(max-width: $tablet_large) {
            position: static;
            top: 0;
            width: 100%;
            margin-right: 0;
        }
        
    }

    &__item {
        margin-bottom: 2.4rem;
        border: 1px solid $grey-200;
        border-radius: 4px;
        background: $white;

        &-header {
            display: flex;
            align-items: center;
            padding: 0.5rem 0;
            border-bottom: 1px solid $grey-200;

            & > a {
                padding-right: 2rem;
                padding-left: 5rem;
                position: relative;

                &::before {
                    position: absolute;
                    top: 0;
                    left: 2.4rem;
                    content: '';
                    width: 1.6rem;
                    height: 1.6rem;
                    background-image: url('../assets/img/map-pin.png');

                }
            }

            & > button {
                font-size: 1.5rem;
                line-height: 2.2rem;
                height: 4rem;
                margin-left: auto;

                color: #841DA4;
            }
        }

        &-footer {
            display: flex;
            padding: 1.6rem 2.4rem;

            span {
                margin-left: auto;
            }

            &.is-invalid {
                span {
                    color: $red-600;
                }
            }

            .cart-alert {
                display: flex;

                img {
                    margin-right: 1.6rem;
                }

                &__msg {
                    display: flex;
                    flex-direction: column;

                    @media(max-width: $tablet_small) {
                        margin-bottom: 0.8rem;
                    }
                }
            }

            &-price {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 15rem;
                margin-left: auto;
            }

            .cart-validate {
                display: none;

                &.is-active {
                    display: flex;
                }
            }

            @media(max-width: $tablet_small) {
                flex-wrap: wrap;
            }
        }
    }

    &__aside {
        width: 38rem;

        &-section {
            background-color: $grey-100;
            border-radius: 4px;
            padding: 2.4rem;
            margin-bottom: 1.6rem;
        }

        @media(max-width: $tablet_large) {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
    }

    &__items {
        li {
            display: flex;

            &:not(:last-child) {
                margin-bottom: 2.4rem;
            }

            span {
                width: 50%;
            }

            span:first-child {
                text-align: left;
            }

            span:last-child {
                text-align: right;
            }
        }

        @media(max-width: $tablet_large) {
            width: calc(50% - 1rem);
            order: 1;
            margin-right: auto;
        }

        @media(max-width: $tablet_small) {
            width: 100%;
            order: 2;
        }
    }

    &__promo {
        span {
            display: inline-block;
            margin-bottom: 1rem;
        }

        form {
            position: relative;

            input {
                width: 100%;
            }

            button {
                position: absolute;
                top: 4px;
                right: 4px;
                width: 4rem;
                height: 4rem;
                border: 0;
                border-radius: 4px;
                background-color: $purple;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    fill: $white;
                }
            }            
        }

        &-msg {
            display: none;
            margin-top: 0.8rem;

            &.is-active {
                display: block;
            }
        }

        
        &.js-invalid {
            input {
                border: 1px solid $red-600;

                color: $red-600;

                &::placeholder {
                    color: $red-600;
                }
            }

            .cart-content__promo-msg {
                color: $red-600;
            }
        }

        &.js-valid {
            position: relative;
            

            &::after {
                position: absolute;
                top: 50%;
                right: 3rem;
                transform: translate(-50%,-50%);
                content: "";
                width: 2.4rem;
                height: 2.4rem;
                background-image: url(../assets/img/check.png);
                opacity: 0.5;
            }

            input {
                position: relative;
                border: 1px solid $green-600;

                color: $green-600;

                &::placeholder {
                    color: $green-600;
                }
            }

            button {
                display: none;
            } 
        }

        @media(max-width: $tablet_large) {
            width: calc(50% - 1rem);
            order: 2;
        }

        @media(max-width: $tablet_small) {
            width: 100%;
            order: 1;
        }
    }

    &__buyer {
        b {
            display: inline-block;
            margin-bottom: 1.6rem;
        }

        form {
            fieldset {
                margin: 0;
                padding: 0;
                border: 0;
                margin-bottom: 1.6rem;
            }

            label {
                display: inline-block;
                margin-bottom: 0.8rem;
                cursor: pointer;

                span {
                    color: $red-600;
                }
            }

            p {
                margin-bottom: 2.4rem;

                a {
                    color: $purple;
                }
            }

            button {
                width: 100%;
            }
        }

        @media(max-width: $tablet_large) {
            width: 100%;
            order: 3;
        }
    }

    &__badge {
        display: flex;
        align-items: center;
        background-color: $black-100;
        border-radius: 4px;
        margin-bottom: 0;

        @media(max-width: $tablet_large) {
            width: 100%;
            order: 4;
        }

        p {
            color: $grey-100;

            a {
                color: $purple;
            }
        }

        img {
            margin-right: 1.6rem;
        }
    }
}