// В блоке c класом .balloon, вместо данного класса, в ЯК используется свой класс [class*="-balloon__layout"]
.balloon
  .balloon-header
    span.cmn__text Альто-Адидже
    span.cmn__text.cmn__text--small.district м. Хорошево 
  .balloon-content
    span.opentime Открыто до 22:00
    span.min-order-price Минимальный заказ от 3000₽
  .balloon-footer
    a(href="#").cmn__btn.cmn__btn--outlined Ассортимент
