.baloon
  button(type="button" aria-label="закрыть").close-btn
    svg(width="16" height="16")
      use(xlink:href="#icon-close")  
  .baloon-header
    span.cmn__text Альто-Адидже
    span.cmn__text.cmn__text--small.district м. Хорошево 
  .baloon-content
    span.opentime Открыто до 22:00
    span.min-order-price Минимальный заказ от 3000₽
  .baloon-footer
    button(type="button").cmn__btn.cmn__btn--outlined Ассортимент