.placemark
  .placemark-border
  .placemark-inner

.placemark.js-active
  .placemark-border
  .placemark-inner

.placemark-multiple
  .placemark-multiple-border
  .placemark-multiple-inner
    span.count 2