<div>
    button(id='zoom-in' class='zoom-btn')
      svg(width="14" height="14")
        use(xlink:href="#icon-zoom-in")
    br
    button(id='zoom-out' class='zoom-btn')
      svg(width="14" height="14")
        use(xlink:href="#icon-zoom-out")
</div>