section.description
  h2.visually-hidden Статьи о вине
  .cmn__wrapper
    section.description__section
      h2.visually-hidden О красном вине
      p.cmn__text Красное вино станет гармоничным дополнением приятного вечера в одиночестве или в компании близких людей. Благодаря многообразию его сортов каждому удастся выбрать напиток в зависимости от вкусовых предпочтений. Популярные фирмы-производители используют виноград, выращенный во Франции, Италии, Испании. Сорта ягод, собранных в разных условиях, отличаются ароматом, цветом, терпкостью. Чаще всего в магазинах встречаются красные вина сортов каберне совиньон, санджовезе, мерло, неббиоло, гренаш.
    
    section.description__section
      h2.cmn__text.cmn__text--med Цена красного вина
      p.cmn__text Цена красного вина зависит от места его происхождения и степени выдержки. Конечно, благородный напиток из винограда, снятого с лозы вручную на горных склонах, будет дороже сделанного из урожая, который выращен на плантациях и собран машиной. Ориентируясь на географическое происхождение вин, даже при сравнительно высокой стоимости знатоки отдают предпочтение продукции из Португалии, США, Франции, Новой Зеландии.
      
    section.description__section
      h2.cmn__text.cmn__text--med Особенности красного вина
      p.cmn__text Вкус красного вина зависит от сорта винограда, выдержки и количества сахара. Производители традиционно предлагают на выбор:

      ul
        li
          p.cmn__text сухое — содержит до 4 граммов сахара на 1 литр, отличается тонким ароматом и легким вкусом;
        li
          p.cmn__text полусухое — в составе уже до 12 граммов сахара, характеризуется более насыщенным вкусом;
        li
          p.cmn__text полусладкое — сахар составляет до 18 граммов на литр, в качестве добавки применяется виноградный сок;
        li
          p.cmn__text сладкое — высокая концентрация и сладость достигаются путем завяливания перезрелых ягод.
      
      p.cmn__text Практически все почитатели красного вина выделяют «свой» сорт винограда и технологию производства, дающие наибольшее наслаждение от напитка.

    section.description__section
      h2.cmn__text.cmn__text--med Купить красное вино в Москве

      p.cmn__text У вас есть возможность купить красное вино в Москве, выбирая напитки превосходного качества, созданные в разных странах, ведь Cheerz.ru представляет знаменитые сорта: гаме, мерло, темпранильо, сира и другие. Причем интернет-магазин сравнивает ассортимент и цены в каталогах бутиков, чтобы предложить вам лучшие варианты.

      p.cmn__text Известные бренды, например Fetzer, Lindemans Bin, Canti, рекомендуют сочетать красное вино с мясом и изысканными закусками — твердыми сырами, сырокопчеными мясными деликатесами. Не следует перебивать его вкус фруктами и цитрусовыми.
      