mixin apps(cl)
  .apps
    a(href="#" aria-label="Скачать с AppStore")
        img(src=cl === 'white' ? './assets/img/appstore-btn_white.png' : './assets/img/appstore-btn_black.png' alt="App store")
    a(href="#" aria-label="Скачать с GooglePlay")
        img(src=cl === 'white' ? './assets/img/googleplay-btn_white.png' : './assets/img/googleplay-btn_black.png' alt="Google play")


