include ./tooltip

mixin search_fieldset(cl, buttonText, placeholder, isIconEnabled, iconName)
  fieldset(class=cl).search-fieldset
    input(type="text" placeholder= placeholder)
    
    .search-fieldset__container
      if isIconEnabled
        +tooltip(iconName, 'Вы можете узнать статус вашего заказа, вбив его номер в строку поиска.')
          
      button(type="submit").cmn__btn= buttonText


