mixin search-dropdown(cl, label, title, array)
  .search-filter
    button(type="button" data-id="select-btn").search-filter__dropdown.cmn__text= title
      span.cmn__text.selected-count
    
    .search-filter__menu.js-collapsed
      form(action="#")
        button(type="button").js-select-all Любой
        each item in array
          fieldset
            input(type="checkbox" id= label + item.label)
            label(for= label + item.label)= item.title

        input(type="submit").visually-hidden 
  