mixin search_dropdown(cl, label, title, array, temp)
  .search-dropdown
    button(type="button" data-id="select-btn").search-dropdown__button
      b.cmn__text= title
      span.cmn__text.search-dropdown__badge
    
    .search-dropdown__menu(tab-index="1").js-collapsed
      form(action="#")
        each item in array
          fieldset
            input(type="checkbox" id= label + item.label)
            label(for= label + item.label)= item.title

        input(type="submit").visually-hidden
  