section.about
  .about__wrapper
    .about__container
      .about__side
        h2 Не продаём, <br/> а объединяем
      .about__content
        p
          | Moscowine.ru маркетплейс представляет специализированную онлайн-платформу по предоставлению 
          | алкогольной продукции и сопутствующих товаров. Один и тот же товар зачастую можно купить у нескольких ритейлеров, 
          | при этом цена на товар может отличаться и сервис поможет подобрать лучшую для клиента. 
        p
          | Moscowine.ru является узконаправленным маркетплейсом и располагает ассортиментом, который не встречается в открытом 
          | интернете на других платформах и сайтах. Некоторые партнеры сервиса представлены исключительно в 
          | формате оффлайн-магазина и их ассортимент представлен онлайн эксклюзивно на Moscowine.ru

