section.article
  .article__wrapper
    .article__container
      .article__side
        h2 Эксклюзив

        h3 Кино и Вино: <br/> Наследники и Shiraz

        p 
            | Хорошее вино может само по себе являться главным событием вечера, 
            | но иногда хороший аккомпанемент может раскрыть его с еще более выигрышных сторон. 
            | Например, дуэтом с вином может выступить сериал — вместе у них может выйти очень 
            | гармоничноеи сбалансированное сочетание.
        p
            | Первая серия «Наследников» вышла 3 июня 2018 года, и практически моментально 
            | получила признание критиков и зрителей. Монументальная сага о влиятельной семье 
            | медиамагнатов стала большим событием в сериальном мире, но подготовка к 
            | производству шоу началась задолго до премьеры. Зато теперь мы можем оценить заслуги 
            | кинематографистов, для этого нам понадобится лишь свободный вечер и бутылка Шираза.
        
        a(href="#") Читать полностью 

      .article__content
        img(src="./assets/img/article_img@1x.jpg" alt="Наследники и Shiraz" width="1370" height="850")
