include ../../mixins/main_slider

-
  const introSlider = [
    {
      title: 'Вина, которые вы не&nbsp;найдете&nbsp;в&nbsp;рознице',
      linkUrl: 'compare.html',
      linkText: 'Подобрать',
      imgUrl: './assets/img/intro-slider_slide-1.jpg'
    },

    {
      title: 'Вина, которые вы не&nbsp;найдете&nbsp;в&nbsp;рознице  asdfasdfasdfasdf',
      linkUrl: 'compare.html',
      linkText: 'Подобрать',
      imgUrl: './assets/img/intro-slider_slide-1.jpg'
    },
    {
      title: 'Вина, которые вы не&nbsp;найдете&nbsp;в&nbsp;рознице',
      linkUrl: 'compare.html',
      linkText: 'Подобрать',
      imgUrl: './assets/img/intro-slider_slide-1.jpg'
    },

    {
      title: 'Вина, которые вы не&nbsp;найдете&nbsp;в&nbsp;рознице  asdfasdfasdfasdf',
      linkUrl: 'compare.html',
      linkText: 'Подобрать',
      imgUrl: './assets/img/intro-slider_slide-1.jpg'
    },
  ]

section.intro
  .intro__wrapper
    +main_slider(introSlider)