section.map
  #yandex-map

  select(id="catalog_sort").custom-select
    option(value="Все регионы" selected) Все регионы
    option(value="Москва") Москва
    option(value="Юг") Юг
    option(value="Санкт-Петербург") Санкт-Петербург