section.map
  h2.visually-hidden Мы на карте
  #yandex-map

  select(id="map_sort").custom-select
    option(value="Все регионы" selected) Все регионы
    option(value="Москва") Москва
    option(value="Юг") Юг
    option(value="Санкт-Петербург") Санкт-Петербург