include ../../mixins/search_fieldset
include ../../mixins/search-dropdown
include ../../mixins/outlined-btn
include ../../mixins/product-card-sm

-
  const resultList = [
    {
      img: './assets/img/product-img_1.png',
      name: 'Шампанское Charles Pelletier Reserve Blanc de Blancs Brut',
      minPrice: '846'
    },

    {
      img: './assets/img/product-img_2.png',
      name: 'Clarendelle inspired by Haut-Brion Medoc Haut Brion Medoc, 2018 г.',
      minPrice: '8 469'
    },

    {
      img: './assets/img/product-img_1.png',
      name: 'Шампанское Charles Pelletier Reserve Blanc de Blancs Brut',
      minPrice: '846'
    },

    {
      img: './assets/img/product-img_2.png',
      name: 'Clarendelle inspired by Haut-Brion Medoc Haut Brion Medoc, 2018 г.',
      minPrice: '8 469'
    },

    {
      img: './assets/img/product-img_1.png',
      name: 'Шампанское Charles Pelletier Reserve Blanc de Blancs Brut',
      minPrice: '846'
    },

    {
      img: './assets/img/product-img_2.png',
      name: 'Clarendelle inspired by Haut-Brion Medoc Haut Brion Medoc, 2018 г.',
      minPrice: '8 469'
    },
  ]

section.search
  .cmn__wrapper
    .search__container
      form(action="#")
        +search_fieldset('search__field', 'Найти', 'Введите запрос для поиска...', true, '#icon-question')

      //.search__advanced
        .search__advanced-field
          .search__advanced-field-content.search__advanced-field-content--filter
            +search-dropdown(null, 'drink_type-', 'Тип напитка',  [
              {
                title: 'Выбрать все',
                label: 'any'
              },
              {
                title:  'Водка',
                label:  'vodka'
              },
              {
                title: 'Коньяк',
                label: 'cognac'
              },
              {
                title: 'Пиво',
                label: 'beer'
              },
              {
                title: 'Шампансвое',
                label: 'champagne'
              },
              {
                title: 'Вино',
                label: 'vine'
              }
            ], true)
            +search-dropdown(null, 'drink_vintage-', 'Винтаж', [
              {
                title: 'Выбрать все',
                label: 'any'
              },
              {
                title: '1900-1920',
                label: '1900-1920'
              },
              {
                title: '1920-1940',
                label: '1920-1940'
              },
              {
                title: '1940-1960',
                label: '1940-1960'
              },
              {
                title: '1960-1980',
                label: '1960-1980'
              },
            ])
            +search-dropdown(null, 'drink_color-', 'Цвет',  [
              {
                title: 'Выбрать все',
                label: 'any'
              },
              {
                title: 'Белый',
                label: 'white'
              },
              {
                title: 'Красный',
                label: 'red'
              },
              {
                title: 'Черный',
                label: 'black'
              },
              {
                title: 'Темный',
                label: 'dark'
              },
              {
                title: 'Светлый',
                label: 'light'
              }
            ])
            +search-dropdown(null, 'drink_sugar-', 'Сахар',  [
              {
                title: 'Выбрать все',
                label: 'any'
              },
              {
                title: 'Сухое',
                label: 'dry'
              },
              {
                title: 'Полусухое',
                label: 'semi-dry'
              },
              {
                title: 'Полусладкое',
                label: 'semi-sweet'
              },
              {
                title: 'Сладкое',
                label: 'sweet '
              },
            ])
            +search-dropdown(null, 'drink_volume-', 'Объем',  [
              {
                title: 'Выбрать все',
                label: 'any'
              },
              {
                title: '1л',
                label: '1'
              },
              {
                title: '0,7л',
                label: '0.7'
              },
              {
                title: '0,5л',
                label: '0.5'
              },
              {
                title: '0,33л',
                label: '0.33'
              },
              {
                title: '0,2л',
                label: '0.2'
              },
            ])
        
        .search__advanced-result
          include ../common/loader
          .search__advanced-result-container
            //span.cmn__text Ничего не найдено

            .search__advanced-result-content
              .search__advanced-result-content-text
                p.cmn__text Ut lobortis ut mauris <span>Charles Pelletier</span>
              .search__advanced-result-content-card
                +product-card-sm(resultList)

        .search__advanced-field
          span.cmn__text.cmn__text--small.cmn__text--small-semi.search__advanced-field-title Искали ранее
          .search__advanced-field-content
            +outlined-btn(null, 'icon-search', 'Charles Pelletier')
            +outlined-btn(null, 'icon-search', 'Коньяк')
            +outlined-btn(null, 'icon-search', 'Blancs Brut')

        .search__advanced-field
          span.cmn__text.cmn__text--small.cmn__text--small-semi.search__advanced-field-title Искали ранее
          .search__advanced-field-content
            +outlined-btn(null, 'icon-trending-up', 'Charles Pelletier')
            +outlined-btn(null, 'icon-trending-up', 'Blancs Brut')
            +outlined-btn(null, 'icon-trending-up', 'Шампанское')
            +outlined-btn(null, 'icon-trending-up', 'Коньяк')
            
      .search__controls.search__controls--empty
        span.cmn__text Если не помните название напитка, попробуйте воспользоваться <a href="#" class="js-advanced-search-more">Расширенным поиском</a>
      //.search__controls.search__controls--empty
        button(type="button").js-search-advanced-more-btn.cmn__btn Все результаты
        a(href="#") Расширенный поиск