include ../../mixins/search_fieldset
include ../../mixins/filter_dropdown
include ../../mixins/outlined_btn
include ../../mixins/product-card_sm

-
  const resultList = [
    {
      img: './assets/img/product-img_1.png',
      name: 'Шампанское Charles Pelletier Reserve Blanc de Blancs Brut',
      minPrice: '846'
    },

    {
      img: './assets/img/product-img_2.png',
      name: 'Clarendelle inspired by Haut-Brion Medoc Haut Brion Medoc, 2018 г.',
      minPrice: '8 469'
    },

    {
      img: './assets/img/product-img_1.png',
      name: 'Шампанское Charles Pelletier Reserve Blanc de Blancs Brut',
      minPrice: '846'
    },

    {
      img: './assets/img/product-img_2.png',
      name: 'Clarendelle inspired by Haut-Brion Medoc Haut Brion Medoc, 2018 г.',
      minPrice: '8 469'
    },

    {
      img: './assets/img/product-img_1.png',
      name: 'Шампанское Charles Pelletier Reserve Blanc de Blancs Brut',
      minPrice: '846'
    },

    {
      img: './assets/img/product-img_2.png',
      name: 'Clarendelle inspired by Haut-Brion Medoc Haut Brion Medoc, 2018 г.',
      minPrice: '8 469'
    },
  ]

section.search
  .cmn__wrapper
    .search__wrapper
      form(action="#")
        +search_fieldset('search__control', 'Найти', 'Введите запрос для поиска...', true, '#icon-question')

      .search__filter
        .search__field.search__field--controls
          .search__field-content.search__field-content--filter
            +filter_dropdown('search__dropdown-btn', 'drink_type-', 'Тип напитка',  [
              {
                title: 'Выбрать все',
                label: 'any'
              },
              {
                title:  'Водка',
                label:  'vodka'
              },
              {
                title: 'Коньяк',
                label: 'cognac'
              },
              {
                title: 'Пиво',
                label: 'beer'
              },
              {
                title: 'Шампанское',
                label: 'champagne'
              },
              {
                title: 'Вино',
                label: 'vine'
              }
            ], true)
            +filter_dropdown('search__dropdown-btn', 'drink_vintage-', 'Винтаж', [
              {
                title: 'Выбрать все',
                label: 'any'
              },
              {
                title: '1900-1920',
                label: '1900-1920'
              },
              {
                title: '1920-1940',
                label: '1920-1940'
              },
              {
                title: '1940-1960',
                label: '1940-1960'
              },
              {
                title: '1960-1980',
                label: '1960-1980'
              },
              {
                title: '1901-1921',
                label: '1901-1921'
              },
            ])
            +filter_dropdown('search__dropdown-btn', 'drink_color-', 'Цвет',  [
              {
                title: 'Выбрать все',
                label: 'any'
              },
              {
                title: 'Белый',
                label: 'white'
              },
              {
                title: 'Красный',
                label: 'red'
              },
              {
                title: 'Черный',
                label: 'black'
              },
              {
                title: 'Темный',
                label: 'dark'
              },
              {
                title: 'Светлый',
                label: 'light'
              }
            ])
            +filter_dropdown('search__dropdown-btn', 'drink_sugar-', 'Сахар',  [
              {
                title: 'Выбрать все',
                label: 'any'
              },
              {
                title: 'Сухое',
                label: 'dry'
              },
              {
                title: 'Полусухое',
                label: 'semi-dry'
              },
              {
                title: 'Полусладкое',
                label: 'semi-sweet'
              },
              {
                title: 'Сладкое',
                label: 'sweet '
              },
            ])
            +filter_dropdown('search__dropdown-btn', 'drink_volume-', 'Объем',  [
              {
                title: 'Выбрать все',
                label: 'any'
              },
              {
                title: '1л',
                label: '1'
              },
              {
                title: '0,7л',
                label: '0.7'
              },
              {
                title: '0,5л',
                label: '0.5'
              },
              {
                title: '0,33л',
                label: '0.33'
              },
              {
                title: '0,2л',
                label: '0.2'
              },
            ])
          
          .search__filter-result
            .search-result
              include ../../components/loader

              .search-result__container
                .search-result__empty
                  span.cmn__text Ничего не найдено
                
                .search-result__list
                  .search-result__list-side
                    p.cmn__text Ut lobortis ut mauris <span>Charles Pelletier</span>
                  .search-result__list-side
                    +product-card-sm(resultList)

                    .search-result__list-more
                      button(type="button").cmn__btn.js-search-result-more-btn Все результаты      
                      a(href="#").cmn__btn.cmn__btn--outlined Каталог      

        .search__field.search__field--adds
          span.cmn__text.cmn__text--small.cmn__text--small-semi.search__field-title Искали ранее
          .search__field-content
            +outlined-btn(null, 'icon-search', 'Charles Pelletier')
            +outlined-btn(null, 'icon-search', 'Коньяк')
            +outlined-btn(null, 'icon-search', 'Blancs Brut')

        .search__field.search__field--adds
          span.cmn__text.cmn__text--small.cmn__text--small-semi.search__field-title Популярные запросы
          .search__field-content
            +outlined-btn(null, 'icon-trending-up', 'Charles Pelletier')
            +outlined-btn(null, 'icon-trending-up', 'Blancs Brut')
            +outlined-btn(null, 'icon-trending-up', 'Шампанское')
            +outlined-btn(null, 'icon-trending-up', 'Коньяк')
            
      span.cmn__text.search__catalog-btn Если не помните название напитка, попробуйте&nbsp;воспользоваться&nbsp;<a href="#" class="js-advanced-search-more">Каталогом</a>