-
  const navList = [
    { title: 'Акции', link: '#', cls: 'cmn__text--purple' },
    { title: 'Тихие вина', link: '#', innerMenu: [ {title: 'Красное', link: '#'}, {title: 'Белое', link: '#'}, {title: 'б/а', link: '#'}, {title: 'Винные сеты', link: '#'}] },
    { title: 'Игристые вина', link: '#', innerMenu: [ {title: 'Шампанское', link: '#'}, {title: 'Игристое', link: '#'}, {title: 'Просекко', link: '#'}, {title: 'Ламбруско', link: '#'},{title: 'Креман', link: '#'},{title: 'Кава', link: '#'},{title: 'Другое', link: '#'}] },
    { title: 'Коньяк', link: '#', innerMenu: [ {title: 'VSOP', link: '#'}, {title: 'XO', link: '#'}, {title: 'VS', link: '#'}] },
    { title: 'Виски', link: '#', innerMenu: [ {title: 'Односолодовый', link: '#'}, {title: 'Солодовый', link: '#'}, {title: 'Купажированный', link: '#'}, {title: 'Бурбон', link: '#'}, {title: 'Зерновой', link: '#'}] },
    { title: 'Водка', link: '#', innerMenu: [ {title: 'Классическая', link: '#'}, {title: 'Солодовая', link: '#'}, {title: 'Тутовая', link: '#'}, {title: 'Органическая', link: '#'}, {title: 'Фруктовая', link: '#'}, {title: 'Ароматизированная', link: '#'}, {title: 'Односортовая', link: '#'}] },
    { title: 'Ром', link: '#', innerMenu: [ {title: 'Темный', link: '#'}, {title: 'Светлый', link: '#'}, {title: 'Золотой', link: '#'}] },

    { title: 'Другое', link: '#' },
    { title: 'Вода', link: '#' },
    { title: 'Сыры', link: '#' },
  ]

header.header
  .header__top
    .cmn__wrapper.header__top-wrapper
      a(href="#").cmn__text.cmn__text--small.cmn__text--white 45 пунктов выдачи
      a(href="#").cmn__text.cmn__text--small.cmn__text--white 14 300 предложений в одном месте
      a(href="#").cmn__text.cmn__text--small.cmn__text--white Как это работает
      a(href="#").cmn__text.cmn__text--small.cmn__text--white English version

  .header__middle
    .cmn__wrapper.header__middle-wrapper
      include ./logo

      .header__info
        a(href="#")
          svg(width="24" height="24")
              use(xlink:href="#icon-map")
          span.cmn__text Точки выдачи
        a(href="#")
          svg(width="24" height="24")
              use(xlink:href="#icon-blog")
          span.cmn__text Блог
    
      .header__search
        form(action="#") 
          input(type="text" placeholder="Поиск среди 12 100 предложений " id= controlId)

          button(type="submit" aria-label="Поиск")
            svg(width="24" height="24")
              use(xlink:href="#icon-search")
      
      .header__phone
        svg(width="24" height="24")
          use(xlink:href="#icon-phone")
        a(href="tel:88007077534").cmn__text.cmn__text--semi.cmn__text--purple.cmn__text--med 8 800 707-75-34
        span.cmn__text.cmn__text--small.cmn__text--opacity c 10:00 до 19:00
      
      .header__action
        a(href="compare.html" aria-label="Сравнить")
          include ../../components/item-count-badge
          svg(width="24" height="24")
            use(xlink:href="#icon-header-filter")

        a(href="#" aria-label="Избранное")
          include ../../components/item-count-badge

          svg(width="24" height="24")
            use(xlink:href="#icon-heart")

        a(href="cart.html" aria-label="Корзина")
          include ../../components/item-count-badge

          svg(width="24" height="24")
            use(xlink:href="#icon-cart")

        a(href="#" data-modal="login-modal" aria-label="Личный кабинет").js-modal-opener 
          svg(width="24" height="24")
            use(xlink:href="#icon-user")


  .header__bottom
    .cmn__wrapper
      .nav
        ul.nav__list
          each item in navList
            li
              a(href=item.link class=item.cls ? item.cls : null).cmn__text= item.title
              if item.innerMenu
                ul.innerNav
                  each inner in item.innerMenu
                    li
                      a(href=inner.title).cmn__text= inner.title 