.cart-add
  button(type="button").cmn__btn.cmn__btn--outlined.js-cart-add-btn В корзину
  
  .cart-add-count
    button(type="button").cart-remove-btn.js-count-dec
    span.cmn__text 0
    button(type="button").cart-add-btn.js-count-inc
  