.catalog-menu
  .catalog-menu__wrapper
    .catalog-menu__header
      button(type="button" aria-label="закрыть").js-catalog-menu-closer
        svg(width="24" height="24")
          use(xlink:href="#icon-close")
      span Каталог
    
    ul.catalog-menu__list
      li
        a(href="#").catalog-menu__sales Акции
      li
        a(href="#") Вино 
      li
        a(href="#") Вина России 
      li
        a(href="#") Кошерное 
      li
        a(href="#") Органика и биодинамика 
      li
        a(href="#") Шампанское 
      li
        a(href="#") Подарочные наборы 
      li
        a(href="#") Самовывоз сегодня 
      li
        a(href="#") Крепкий алкоголь
      li
        a(href="#") Винный погреб