.mobile-menu
  .cmn__wrapper.mobile-menu__wrapper
    ul.mobile-menu__list
      li
        a(href="#")
          svg(width="24" height="24")
            use(xlink:href="#icon-catalog")
          span Каталог

      li
        a(href="#")
          svg(width="24" height="24")
            use(xlink:href="#icon-heart")
          span Избранное

      li
        a(href="#")
          svg(width="24" height="24")
            use(xlink:href="#icon-cart")
          span Корзина

      li
        a(href="#")
          svg(width="24" height="24")
            use(xlink:href="#icon-user")
          span Войти

      li
        a(href="#")
          svg(width="24" height="24")
            use(xlink:href="#icon-mobile-menu")
          span Меню