.socials
  ul
    li
      a(href="#")
        svg(width="24" height="24")
          use(xlink:href="#icon-vk")
    li
      a(href="#")
        svg(width="24" height="24")
          use(xlink:href="#icon-fb2")
    li
      a(href="#")
        svg(width="24" height="24")
          use(xlink:href="#icon-tw")
    li
      a(href="#")
        svg(width="24" height="24")
          use(xlink:href="#icon-google")